<!-- Hero Section -->
<div class="relative px-10 py-52 grid grid-cols-1 md:grid-cols-2 items-center overflow-visible">
    <!-- Left Content (Text Grid) -->
    <div class="space-y-6 relative z-10">
        <h1 class="text-4xl font-bold leading-snug">
            Start <span class="text-orange-400">trading</span> with us now and enjoy <br>
            your first 2 exchanges fee-free
        </h1>
        <p class="text-gray-400">
            Kick off your trading journey with fee-free exchanges, savoring the perks of a transaction fee waiver
            for your first two transactions, ensuring a smooth start for you.
        </p>
        <!-- App Download Section -->
        <div class="cursor-pointer mt-12 flex flex-col items-center space-y-4 md:flex-row md:space-x-4 md:space-y-0">
            <!-- App Store Button -->
            <div
                class="flex items-center justify-center bg-orange-500 hover:bg-orange-600 text-sm text-black py-3 px-6 rounded-lg shadow-md whitespace-nowrap min-w-[150px]">
                <img src="assets/images/apple-icon.png" alt="App Store" class="h-5 mr-2">
                App store
            </div>

            <!-- Google Play Button -->
            <div
                class="flex items-center justify-center bg-orange-500 hover:bg-orange-600 text-sm text-black py-3 px-6 rounded-lg shadow-md whitespace-nowrap min-w-[150px]">
                <img src="assets/images/ggplay-icon.png" alt="Google Play" class="h-5 mr-2">
                Google play
            </div>
        </div>
    </div>

    <!-- Right Content (App Mockup) -->
    <div class="absolute -top-[160px] -right-[150px] transform translate-x-1/4 -translate-y-10">
        <img src="assets/images/Hero.png" alt="App Mockup" class="w-[1200px] drop-shadow-2xl">
    </div>
</div>