app-header((scrollToSectionEvent)="scrollToSection($event)")
.body-container
    <router-outlet></router-outlet>
    //- app-home
    app-footer
    button((click)="switchLanguage('en')") EN
    button((click)="switchLanguage('vi')") VI
