.benefits-container 
    h2.section-title.animate-on-scroll {{ "BENEFITSPAGE.TITLE" | translate}}

    .main-content 
        .features-section
            .feature-item.animate-on-scroll
                .feature-icon
                    img(src="assets/images/savetime-icon.png" )
                .feature-text
                    h3.feature-title {{ "BENEFITSPAGE.BENEFITFIRST.TITLE" | translate }}
                    p.feature-description {{ "BENEFITSPAGE.BENEFITFIRST.DESCRIPTION" | translate }}
            
            .feature-item.animate-on-scroll
                .feature-icon
                    img(src="assets/images/stayupdated-icon.png" )
                .feature-text
                    h3.feature-title {{ "BENEFITSPAGE.BENEFITSECOND.TITLE" | translate }}
                    p.feature-description {{ "BENEFITSPAGE.BENEFITSECOND.DESCRIPTION" | translate }}

            .feature-item.animate-on-scroll
                .feature-icon
                    img(src="assets/images/simplify-icon.png" )
                .feature-text
                    h3.feature-title {{ "BENEFITSPAGE.BENEFITTHIRD.TITLE" | translate }}
                    p.feature-description {{ "BENEFITSPAGE.BENEFITTHIRD.DESCRIPTION" | translate }}

            .feature-item.animate-on-scroll
                .feature-icon
                    img(src="assets/images/support-icon.png" )
                .feature-text
                    h3.feature-title {{ "BENEFITSPAGE.BENEFITFOURTH.TITLE" | translate }}
                    p.feature-description {{ "BENEFITSPAGE.BENEFITFOURTH.DESCRIPTION" | translate }}

        .image-section
            img(src="assets/images/benefit.png" alt="App screenshot")

